/** Universal **/

h1, h2, h3, h4, h5, h6, p {
    font-family: 'Fira Sans', sans-serif;
}

/** Header **/

h1 {
    text-align: center;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.header {
    padding: 0px 0px;
    border-bottom: 2px solid #dddddd;
    background-color: white;
}

/** Main Box **/

.card-body {
    min-height: 400px;
    width: 60%;
    min-width: 350px;
    border: 2px solid #dddddd;
    padding: 30px;
    margin: auto;
    margin-top: 50px; 
    margin-bottom: 100px;
    background-color: white;
}

.box-title {
    border-bottom: 2px solid #dddddd;
}

/** Password Area **/

.password {
    border-bottom: 2px solid #dddddd;
}

#display {
    width: 100%;
    min-height: 200px;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 2px dashed #dddddd;
}

textarea {
    resize: none;
}

/** Buttons **/

button{
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    text-decoration:none;
    font-size: 24px;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
    }

#generate {
    background-color: cadetblue;
    margin-top: 25px;
}

#copy {
    background-color: gray;
    float: right;
    margin-top: 25px;
}

.buttons {
    margin: 0 auto;
}
