/** Header **/

h1 {
    text-align: center;
}

/** Main Box **/

.box {
    width: 75%;
    min-height: 400px;
    border: 2px solid #dddddd;
    padding: 30px;
    margin: auto;
    margin-top: 50px; 
    margin-bottom: 100px;
}

.box-title {
    border-bottom: 2px solid #dddddd;
}

/** Password Area **/

.password {
    border-bottom: 2px solid #dddddd;
}

#password {
    width: 100%;
    min-height: 200px;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 2px dashed #dddddd;
}

textarea {
    resize: none;
}

/** Buttons **/

.buttons {
    margin-top: 30px;
    margin-bottom: 30px;
}

button{
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    text-decoration:none;
    font-size: 24px;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
    }

#generate {
    background-color: red;
    float: left;
}

#copy {
    background-color: gray;
    float: right;
}